node_modules/
.env
.env.*
!.env.example

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.tsbuildinfo

/ios
/android